
button {
  display: inline-block;
  padding: 4px 12px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #af2424;
  border: none;
  border-radius: 20px;
  box-shadow: 0 6px #d5d33a;
}

button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

table,th,td {
  border: 1px solid;
  border-collapse: collapse;
}
th, td {
  padding: 8px;

}

tr:hover {background-color: lightcoral;}

