<h2>Attendance table for Section</h2>
Load for Section :
<br><br>
<select>
  <option value="Select A Section " disabled>Select a section</option>

  @for (section of sections; track section.id){
  <option [value]="section">
  {{section.name}}
  </option>
  }
</select>

<table >
  <thead>
  <tr>
    <th>Row</th>
    <th>Student ID</th>
    <th>Student Name</th>

    @for (col of columns; track col.key) {
    <th>{{ col.label }}</th>
    }
    <th>Attendance Percentage</th>
  </tr>
  </thead>

  <tbody>
  @for (row of rows; track row.id) {
  <tr>
    <td>{{ row.id }}</td>
        <td>{{ row.studentId }}</td>
        <td>{{ row.studentName }}</td>

        @for (col of columns; track col.key) {
  <td>
    <input
      type="checkbox"
      [checked]="row.attendance[col.key]"
      (change)="toggleAttendance(row, col.key)"
    />
  </td>

  }
  <td></td>
  <td> <button> Calculate Percentage</button></td>
 </tr>
  }
  </tbody>
</table>

<button (click)="addRow()">Add Student Row</button>
<button (click)="addColumn()">Add Week Column</button>

<button routerLink=".."> Back</button>
<!-- TODO: Load For Section -->
